/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: lighten(#C87171,15%);
$background-color: lighten(yellow, 48%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(red, 10%);